.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 360px;
  min-height: 400px;
  height: fit-content;
  border-radius: 6px;

  padding-bottom: 1rem;
  background-color: var(--color-btn);
  box-shadow:
    5px -5px 20px rgba(255, 255, 255, 0.1),
    -5px 5px 20px rgba(255, 255, 255, 0.1);
}

.img {
  position: relative;

  border-radius: 6px 0 0 6px;
  width: 100%;
  height: 250px;
}
.img img {
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.info h3 {
  margin-top: 1rem;
  font-size: 24px;
  color: var(--color-accent);
  padding: 0 1rem;
}
.info div {
  padding: 0 1rem;

  font-size: 14px;
}
.tech {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 1rem;
  font-size: 14px;
}
.tech li:first-child {
  color: var(--color-accent);
  font-weight: 600;
  font-size: 16px;
}
.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.btn {
  display: flex;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
}
@media (max-width: 425px) {
  .project {
    width: 300px;
    min-height: 200px;
  }
}
