.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 350px;
  min-height: 400px;
  height: fit-content;
  border-radius: 6px;
  border: 2px solid var(--color-border);
}

.img {
  position: relative;
  border-bottom: 2px solid var(--color-border);
  border-radius: 6px;
  width: 100%;
  height: 200px;
}
.img img {
  object-fit: cover;
  border-radius: 6px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.info h3 {
  font-size: 24px;
  color: var(--color-accent);
  padding: 0.5rem;
  border-bottom: 2px solid var(--color-border);
}
.info div {
  padding: 0.5rem;
  border-bottom: 2px solid var(--color-border);
}
.tech {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0.5rem;
}
