.menu {
  position: relative;
  display: none;
  top: 0;
  right: 0;
}

.nav {
  position: fixed;
  top: 60px;
  right: 0;
  min-width: 150px;
  width: auto;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.nav.open {
  transform: translateX(0);
  pointer-events: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
}

.list > li {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  cursor: pointer;
}
.link {
  color: var(--color-text);
  transition: all 0.3s ease;
}
.active {
  color: white;
  font-weight: 700;
}
.link:hover {
  color: var(--color-text-hover);
}
.nav > ul > li > p {
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .nav {
    display: flex !important;
  }
}
