.menu {
  position: relative;
  display: none;
  top: 0;
  right: 0;
}

.nav {
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 300px;
  width: auto;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 50;
  background: var(--color-bg);
}

.nav.open {
  transform: translateX(0);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
}

.list > li {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  cursor: pointer;
  align-items: flex-end;
}
.link {
  color: var(--color-text);
  transition: all 0.3s ease;
}
.active {
  color: white;
  font-weight: 700;
  color: var(--color-accent);
}
.link:hover {
  color: var(--color-text-hover);
}
.nav > ul > li > span {
  color: var(--color-accent);
  font-weight: 800;
  font-size: 24px;
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .nav {
    display: flex !important;
  }
}
