.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 50px;
  padding-bottom: 24px;
  margin-top: 4rem;
}
.text {
  text-align: left;
}
.text h1 {
  margin-bottom: 15px;
  margin-top: 20px;
}
.text h1 span {
  color: var(--color-accent);
}
.text p {
  max-width: 700px;
  margin-bottom: 9px;
}
.socials {
  align-self: flex-start;
  margin-top: 1rem;
}

@media (max-width: 625px) {
  .info {
    align-items: center;
  }
  .socials {
    align-self: center;
  }
  .text {
    text-align: center;
  }
}
