.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 24px;
  margin-top: 4rem;
}
.text {
  text-align: left;
}
.text h1 {
  margin-bottom: 15px;
  margin-top: 20px;
}
.text h1 span {
  color: var(--color-accent);
}
.text p {
  max-width: 700px;
  margin-bottom: 9px;
}
@media (max-width: 900px) {
  .info {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .text {
    text-align: center;
  }
}
@media (max-width: 625px) {
  .text {
    text-align: center;
  }
}
