.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 30px;
  transform: translateY(-50%);
}

.icon span {
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.top {
  transform: rotate(45deg) translateY(9.5px);
}

.middle {
  opacity: 0;
}

.bottom {
  transform: rotate(-45deg) translateY(-9.5px);
}
