.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 1rem;
}
.list li {
  display: flex;
  align-items: center;
  height: auto;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: var(--color-btn);
  padding: 2rem;
  color: var(--color-accent);
  font-size: 24px;
}
.info span {
  font-size: 14px;
  color: var(--color-accent);
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 625px) {
  .content {
    align-items: center;
    gap: 3rem;
  }
}
@media (max-width: 425px) {
  .icon {
    padding: 1.25rem;
    font-size: 16px;
  }
  .info span {
    font-size: 12px;
  }
  .info p {
    font-size: 14px;
  }
}
