html,
body {
  /* background: var(--color-bg); */

  background: var(--color-bg);
  line-height: 2;
  font-weight: 300;
  font-family: var(--font-jetbrainsMono);
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 43;
}
main {
  flex: 1;
  padding: 10px;
}
h1 {
  font-size: 72px;
  line-height: 1.1;
}
h2 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
@media (max-width: 1200px) {
  .container {
    width: 1024px;
    padding: 0 5px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
}
