:root {
  /* Main colors */
  --color-bg: #1c1c22;
  /* --color-bg-second: #1b2230; */
  --color-text: white;
  --color-text-list: #abb2bf;
  --color-text-btn: white;
  --color-text-btn-hover: var(--color-bg);
  --color-btn: #27272c;
  /* Accent colors */
  --color-accent: #42e0d0;
  --color-accent-hover: #35c9bc;
  --color-accent-light: #6df2e4;
  --color-border: rgba(150, 180, 220, 0.45);
  --color-box-shadow: rgba(66, 224, 208, 0.1);
  --color-cursor: rgba(40, 80, 130, 0.25);
}
