:root {
  /* Main colors */
  --color-bg: #1c1c22;
  /* --color-bg-second: #1b2230; */
  --color-text: white;
  --color-text-list: #abb2bf;
  --color-text-btn: white;
  --color-btn: #27272c;
  /* Accent colors */
  --color-accent: #2563eb;
  --color-border: rgba(150, 180, 220, 0.45);
}
