.skills {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 625px) {
  .skills {
    justify-content: center;
  }
}
