.about {
  display: relative;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  height: 100%;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  position: relative;
  max-width: 700px;
  text-align: left;
  white-space: pre-line;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  align-self: flex-start;
}
.btn button {
  width: 150px;
  height: 50px;
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .text {
    width: 100%;
    max-width: 1200px;

    margin-top: 2rem;
  }
  .btn {
    align-self: center;
  }
}
@media (max-width: 625px) {
  .text {
    text-align: center;
  }
}
