.about {
  display: flex;
  flex-direction: column;
  align-items: end;
  display: relative;
}

.text {
  position: relative;
  max-width: 700px;
  text-align: left;
  z-index: 5;
}
.dots {
  position: absolute;
  width: 80px;
  height: 80px;

  background: radial-gradient(circle, #bbb 2px, transparent 2.5px);
  background-size: 14px 14px;
}
.dots.one {
  top: 80%;
  left: 30%;
  background: radial-gradient(
    circle,
    var(--color-accent) 2px,
    transparent 2.5px
  );
  background-size: 14px 14px;
}

.dots.two {
  top: 60%;
  left: 5%;
}
.square {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid var(--color-accent);
}
.square.one {
  top: 68%;
  left: 16%;
  border: 1px solid #bbb;
}
.square.two {
  top: 76%;
  left: 9%;
}
.square.three {
  top: 60%;
  left: 23%;
}
.btn {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .about {
    align-items: center;
  }
  .text {
    text-align: center;
  }
  .dots {
    display: none;
  }
  .square {
    display: none;
  }
}
