.about {
  display: flex;
  flex-direction: column;
  align-items: end;
  display: relative;
}

.text {
  position: relative;
  max-width: 650px;
  text-align: left;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.graphic {
  position: relative;
  height: 300px;
  width: 32%;
}
.dots {
  position: absolute;
  width: 80px;
  height: 80px;

  background: radial-gradient(circle, #bbb 2px, transparent 2.5px);
  background-size: 14px 14px;
}
.dots.one {
  top: 0;
  left: 10%;
  background: radial-gradient(
    circle,
    var(--color-accent) 2px,
    transparent 2.5px
  );
  background-size: 14px 14px;
}

.dots.two {
  bottom: 0;
  right: 0;
}
.square {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid var(--color-accent);
}
.square.one {
  top: 0%;
  left: 60%;
}
.square.two {
  top: 30%;
  left: 40%;
  border: 1px solid #bbb;
}
.square.three {
  top: 60%;
  left: 20%;
}
.btn {
  margin-top: 1rem;
  align-self: flex-start;
}
@media (max-width: 1200px) {
  .content {
    align-items: center;
    justify-content: center;
  }
  .text {
    width: 100%;
    max-width: 1200px;
  }
  .graphic {
    display: none;
  }
}

@media (max-width: 768px) {
  .about {
    align-items: center;
  }
  .content {
    justify-content: center;
    align-items: center;
  }
  .text {
    text-align: center;
  }
  .dots {
    display: none;
  }
  .btn {
    align-self: center;
  }
}
