.about {
  display: flex;
  flex-direction: column;
  align-items: end;
  display: relative;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  height: 100%;
}
.img {
  height: 100%;
}

.text {
  position: relative;
  max-width: 700px;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  align-self: flex-start;
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    width: 100%;
    max-width: 1200px;

    margin-top: 2rem;
  }
  .btn {
    align-self: center;
  }
}
@media (max-width: 625px) {
  .text {
    text-align: center;
  }
}
