.component {
  display: flex;
  flex-direction: column;
  width: 200px;

  border: 1px solid var(--color-accent);
  border-radius: 6px;
}
.list li:first-child {
  border-bottom: 1px solid var(--color-accent);
  text-transform: capitalize;
}
.list li {
  padding: 0.25rem 1rem;
}
