.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.component p {
  text-transform: capitalize;
  font-size: 24px;
  align-self: flex-start;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.list li {
  background-color: var(--color-btn);
  padding: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
}
@media (max-width: 625px) {
  .list {
    justify-content: center;
  }
}
