.container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin-top: 1rem;
}
.icon {
  color: var(--color-accent);
}
