.header {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 60;
}
@media (max-width: 1200px) {
  .header {
    width: 1024px;
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 55;
    background: var(--color-bg);
  }
  .switcher {
    display: none;
  }
}
