.header {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  /* z-index: 3; */
}
@media (max-width: 1200px) {
  .header {
    width: 1024px;
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 100%;
  }
}
