.button {
  padding: 16px 32px;
  background-color: var(--color-btn);
  color: var(--color-text-btn);
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid var(--color-accent);
}
.button:hover {
  background-color: var(--color-accent);
  color: var(--color-text-btn-hover);
}
