.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-text);
  cursor: pointer;
  gap: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: var(--color-accent);
}
.projects {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
