.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  min-width: 500px;
  padding: 2rem;
  background-color: var(--color-btn);
  border-radius: 6px;
  width: auto;
  gap: 1rem;
}
.content h3 {
  color: var(--color-accent);
  text-align: left;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.form input,
.form textarea {
  padding: 12px 14px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 6px;
  outline: none;
  width: 100%;
}

.form input:focus,
.form textarea:focus {
  border-color: var(--color-accent);
}

.form span {
  color: var(--color-text);
  font-size: 12px;
}
.btn {
  width: 150px;
  padding: 1rem;
  margin-top: 0.75rem;
}

@media (max-width: 768px) {
  .content {
    width: auto;
  }
}
@media (max-width: 625px) {
  .content {
    max-width: 400px;
    min-width: 300px;
    align-self: center;
  }
  .row {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .content {
    max-width: 300px;
    min-width: 250px;
    align-self: center;
  }
  .row {
    flex-direction: column;
  }
}
