.category {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
  margin-bottom: 3rem;
}
.category h2 {
  text-transform: capitalize;
}
.content {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 2rem;
}
.slider {
  width: 50%;
}

.photo {
  background-color: rgba(253, 242, 248, 0.2);
  height: 460px;
  position: relative;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
}
.img img {
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media (max-width: 1024px) {
  .slider {
    width: 100%;
  }

  .content {
    flex-direction: column-reverse;
  }
  .line {
    display: none;
  }
}

@media (max-width: 425px) {
  .photo {
    height: 320px;
  }
}
