.title {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
  margin: 2rem 0;
}

.title span {
  font-weight: 800;
  font-size: 48px;
  color: var(--color-accent);
}
.title > div {
  width: 300px;
  height: 2px;
  background-color: var(--color-accent);
  margin-left: 10px;
}

@media (max-width: 768px) {
  .title {
    align-self: flex-start;
    margin: 0;
  }
  .title div {
    width: 180px;
  }
}
@media (max-width: 500px) {
  .title div {
    display: none;
  }
}
