.title {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.title span {
  font-weight: 800;
  font-size: 48px;
  color: var(--color-accent);
}
.title > div {
  width: 300px;
  height: 2px;
  background-color: var(--color-accent);
  margin-left: 10px;
}

@media (max-width: 768px) {
  .title {
    align-self: flex-start;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .title div {
    display: 300px;
  }
}
@media (max-width: 500px) {
  .title div {
    display: none;
  }
}
