.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  position: relative;
}
.img {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
}

.img img {
  object-fit: contain;
  border-radius: 50%;
  border: 5px dotted var(--color-accent);
}

@media (max-width: 768px) {
  .img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 425px) {
  .container {
    width: 270px;
    height: 270px;
  }
  .img {
    width: 248px;
    height: 248px;
  }
}
