.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.list {
  display: flex;
  gap: 1rem;
  color: var(--color-text);
}
.list > li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.link {
  color: var(--color-text);
  transition: all 0.3s ease;
}
.active {
  color: white;
  font-weight: 700;
  color: var(--color-accent);
}
.link:hover {
  color: var(--color-text-hover);
}
.nav > ul > li > span {
  font-weight: 800;
  font-size: 24px;
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
